.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.icecoffee-pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
}

.greetings {
  display: block;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-right: 150px;
  margin-left: 80px;
}

.greetingsimage {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.authButton {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.navflex {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 30px;
  border-style: solid;
}

.icemaintitle {
  text-align: center;
  margin: 75px 50px;
}

.icetitlenames {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.icecoffees {
  columns: 100px 3;
  margin-left: 300px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  /* list-style: none;
  display: flex;
  justify-content: space-evenly; */
}

.coffeefact {
  text-align: center;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
}
