.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: #c4beaf;
}
/* #cfbc9f */

/* .card {
  display: grid;
  grid-template-columns: 300px;
  grid-template-rows: auto;

  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  border-radius: 20px;
  background: rgb(124, 149, 120);
  text-align: center;
} */

a {
  color: black;
}

a:hover {
  color: #74ab76;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.hotcoffees {
  padding: 25px;
}

.card_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
}

.coffee_card {
  background-color: #c4beaf;
  padding: 10px;
  border: 1px solid #c4beaf;
  text-align: center;
  border-radius: 20px;
  height: 450px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  /* height: 200px;
  width: 200px; */
}

.coffee_card:hover {
  transform: scale(1.1);
  color: white;
}

.card_image {
  /* max-height: 120px; */
  /*object-fit: fill;
  margin: auto;
  justify-content: center; */
  height: 250px;
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.actualimg {
  height: 250px;
  width: 250px;
}

.primaryhottitle {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hottitlecontainer {
  padding: 10px;
  text-align: center;
}

.primaryicetitle {
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.hotparagraph1 {
  padding-top: 30px;
}

.icecontainer {
  padding: 10px;
  text-align: center;
}

.icecoffeecss {
  padding: 25px;
}

.icecard_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  grid-auto-rows: 1fr;
}

.icecoffee_card {
  background-color: #c4beaf;
  padding: 10px;
  border: 1px solid #c4beaf;
  text-align: center;
  border-radius: 20px;
  height: 450px;
  box-shadow: 0 0 28px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  cursor: pointer;
  /* height: 200px;
  width: 200px; */
}

.icecoffee_card:hover {
  transform: scale(1.1);
  color: white;
}

.icecard_image {
  max-height: 120px;
  /*object-fit: fill;
  margin: auto;
  justify-content: center; */
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* .card_image_container {
  background-color: green;
  justify-content: center;
  width: 100%;
} */

/*
.card-text {
  grid-area: text;
  justify-content: center;
} */

* {
  font-style: italic;
}

.adddrink {
  display: center;
  margin-left: 220px;
}

.hotcoffeecard {
  display: flex;
  flex-wrap: wrap;
}

.drinkform {
  display: center;
  margin-left: 80px;
  margin-right: 80px;
  text-align: center;
}

.js-logo {
  height: 100px;
  padding-bottom: 30px;
}

.text-intro {
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.icecoffee-pictures {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: auto;
  width: auto;
  padding: 200px;
}

.greetings {
  display: block;
  margin-top: 50px;
  margin-bottom: 60px;
  margin-right: 150px;
  margin-left: 80px;
}

.greetingsimage {
  text-align: center;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.greetinguser {
  padding: 70px;
  font-size: 25px;
}
.text-intro {
  text-align: center;
  padding: 20px;
  margin-left: 200px;
  margin-right: 200px;
}

.authButton {
  margin-top: 50px;
  margin-bottom: 100px;
  margin-right: 150px;
  margin-left: 80px;
}

.nav {
  margin-top: 80px;
}

.navlist1 {
  text-align: center;
  padding-top: 40px;
  color: black;
}
.navflex {
  text-align: center;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
  margin-left: 50px;
  margin-right: 50px;
  padding-top: 30px;
  padding-bottom: 10px;
  border-style: solid;
  color: #827e79;
}

.icemaintitle {
  text-align: center;
  margin: 75px 50px;
}

.icetitlenames {
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}

.icecoffees {
  columns: 100px 3;
  margin-left: 300px;
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 100px;
  /* list-style: none;
  display: flex;
  justify-content: space-evenly; */
}

.coffeefactcontainer {
  padding: 100px;
  background-color: #c4beaf;
  color: black;
}

.coffeefacttitle {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  padding: 100px;
  font-size: xx-large;
  font-style: italic;
  color: black;
}
.coffeefactborder {
  background-color: #827e79;
  position: relative;
  text-align: center;
  margin-top: 100px;
  margin-left: 250px;
  margin-right: 250px;
  border-style: solid;
  border-spacing: 1px 1rem;
  border-radius: 4%;
}

.actualfacttitle {
  padding-top: 40px;
}

.factdescriptionholder {
  padding: 30px;
}

.factbutton {
  position: center;
  text-align: center;
  padding: 80px;
}

.video5 {
  width: 50%;
  height: 100%;
  object-fit: contain;
  position: center;
  padding-left: 270px;
}

.factphotos {
  max-width: 50%;
  height: 50%;
  padding-left: 250px;
  border: 30px;
}

/* .hotcoffees {
  text-align: center;
  columns: 100px 1;
  margin-left: 100px;
  padding-top: 80px;
  padding-right: 100px;
  padding-bottom: 40px;
  padding-left: 100px;
  /* list-style: none;
  display: flex;
  justify-content: space-evenly; */

.logoutbutton,
.loginbutton {
  appearance: none;
  border: 0;
  background-color: transparent;
  cursor: pointer;
  text-decoration: underline;
}

* {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.videoholder {
  width: 100%;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  text-shadow: 0 1px 10px rgb(0 0 0 / 50%), 0 0 30px rgb(0 0 0 / 90%);
}

.slider {
  position: relative;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.image {
  width: 900px;
  height: 500px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem;
  color: black;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}
.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}
