* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: antiquewhite;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  padding: 0 1rem;
}

.nav a {
  color: inherit;
}

.navflex {
  display: flex;
  flex-direction: row;
}
